# Node.js dependencies
node_modules/
npm-debug.log
package-lock.json
.env

# Logs
logs/
*.log
yarn-debug.log
yarn-error.log
pm2.log
debug.log

# Uploaded files
uploads/

# Database files (if applicable)
*.sqlite
*.db

# OS-specific files
.DS_Store
Thumbs.db

# Postman files
postman_collection.json

# IDE / Editor files
.vscode/
.idea/
*.swp
*.swo

